<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= pageTitleIndex %></title>
</head>

<body>
  <h1><%= pageTitleIndex %></h1>
  <form method="post" action="/game/add">
    <label for="team1">team1</label>

    <label for="player1">player1</label>
    <input id="email1" type="email" name="email1">
    <label for="player2">player2</label>
    <input id="email2" type="email" name="email2">
    <label for="score1">score1</label>
    <input type="number" name="score1" min=0 max=50 value=21>

    <br />

    <label for="team1">team2</label>

    <label for="player3">player3</label>
    <input id="email3" type="email" name="email3">
    <label for="player4">player4</label>
    <input id="email4" type="email" name="email4">
    <label for="score2">score2</label>
    <input type="number" name="score2" min=0 max=50 value=10>



    <input type="submit" value="Add">
  </form>
  <h4>Games:</h4>
  <ul>
    <% games.forEach(function(game) { %>
      <li>
        <%= $(game.teams).first() %>
        <%= game.date.toLocaleString("en-US", {timeZone: "America/Vancouver"}) %>
      </li>
    <% }); %>
  </ul>
  <h4>ranking:</h4>
  <ul>
    <%= console.log(JSON.stringify(ranks)) %>
    <% ranks.forEach(function(ranking) { %>
      <li>
        <%= console.log(JSON.stringify(ranking)) %>
        <%= $(ranking.ranks).first() %>
        <%= ranking.date.toLocaleString("en-US", {timeZone: "America/Vancouver"}) %>
      </li>
    <% }); %>
  
  <script>
    function makeEmail() { 
      var strValues="abcdefg12345"; 
      var strEmail = ""; 
      var strTmp; 
      for (var i=0;i<10;i++) { 
        strTmp = strValues.charAt(Math.round(strValues.length*Math.random())); 
        strEmail = strEmail + strTmp; 
      } 
      strTmp = ""; 
      strEmail = strEmail + "@"; 
      for (var j=0;j<8;j++) { 
        strTmp = strValues.charAt(Math.round(strValues.length*Math.random())); 
        strEmail = strEmail + strTmp; 
      } 
      strEmail = strEmail + ".com" 
      return strEmail; 
    }
    document.getElementById("email1").value = makeEmail();
    document.getElementById("email3").value = makeEmail();
  </script>
</body>
</html>
