<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= pageTitleIndex %></title>
</head>

<body>
  <h1><%= pageTitleIndex %></h1>
  <form method="post" action="/game/add">
    <label for="team1">team1</label>

    <label for="player1">player1</label>
    <input id="email1" type="email" name="player">
    <label for="score1">score1</label>
    <input type="number" name="score" min=0 max=50 value=21>


    <br />


    <input type="submit" value="Add">
  </form>
  <h4>Players:</h4>
  <ul>
    <% games.forEach(function(game) { %>
      <li>
        <%= game.player %>
        <%= game.score %>
        <%= game.date.toLocaleString("en-US", {timeZone: "America/Vancouver"}) %>
      </li>
    <% }); %>
  </ul>
  
  <script>
    function makeEmail() { 
      var strValues="abcdefg12345"; 
      var strEmail = ""; 
      var strTmp; 
      for (var i=0;i<10;i++) { 
        strTmp = strValues.charAt(Math.round(strValues.length*Math.random())); 
        strEmail = strEmail + strTmp; 
      } 
      strTmp = ""; 
      strEmail = strEmail + "@"; 
      for (var j=0;j<8;j++) { 
        strTmp = strValues.charAt(Math.round(strValues.length*Math.random())); 
        strEmail = strEmail + strTmp; 
      } 
      strEmail = strEmail + ".com" 
      return strEmail; 
    }
    document.getElementById("email1").value = makeEmail();
  </script>
</body>
</html>
